parameters:
    level: max
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
        - tests
    excludePaths:
        - tests/templates/exception.php
    ignoreErrors:
        - "#Unsafe usage of new static#"
