parameters:
    level: max
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
        - tests
    excludePaths:
        - tests/templates/exception.php
    ignoreErrors:
        - "#Unsafe usage of new static#"
    typeAliases:
        stringy: 'null|bool|int|float|string|\Stringable'
        stringy-array: 'array<int|string, stringy|array<int|string, stringy>>'
